body {
    margin: 0;
}

header {
    background-color: #ffd260;
    color: #000000;
    margin: 0;
    text-align: center;
    height: 150px;
    padding-top: 20px;
    font-family: Arial;
}

section {
    min-height: 500px;
    font-family: Arial;
    padding: 0px;
}

footer {
    background-color: #ffd260;
    color: #000000;
    margin: 0;
    text-align: center;
    height: 50px;
    padding-top: 10px;
    font-family: Arial;
    height: auto;
    width: auto;
}

.dropdown_div {
    position: relative;
    display: inline-block;
    background-color: #ffff91;
    flex-basis: 150%;
}

.dropdown_button {
    background-color: #ffff91;
    color: #000000;
    border: none;
    font-size: 16px;
    cursor: pointer;
    height: 30px;
    width: 100%;
    transition: 1s;
}

.dropdown_content {
    position: absolute;
    background-color: #ffff91;
    width: 100%;
    box-shadow: 0px 6px 14px 0px rgba(0, 0, 0, 0.3);
    display: none;
}

.dropdown_content a {
    font-family: Arial;
    color: #000000;
    padding: 12px 18px;
    text-decoration: none;
    display: block;
    transition: 1s;
}

.dropdown_content a:hover {
    background-color: #c9a12f;
}

.dropdown_div:hover .dropdown_content {
    display: block;
}

.dropdown_div:hover .dropdown_button {
    background-color: #c9a12f;
}

nav {
    background-color: #ffd260;
    width: 100%;
    height: max-content;
    display: flex;
    flex-direction: row;
}


.mybutton {
    background-color: #c9a12f;
    border: none;
    color: #000000;
    width: max-content;
    height: max-content;
    padding: 16px 32px;
    font-size: 16px;
    opacity: 0.5;
    animation-iteration-count: infinite;
}

.dropdown_button a {
    background-color: #c9a12f;
    transition: 1s;
    height: max-content;
    width: max-content;
}

.logo {
    position: absolute;
    left: 0%;
    top: 0%;
    height: 5rem;
    width: 5rem;
}

.bread {
    padding: 0%;
    height: max-content;
    width: 100%;
}