body{
    margin: 0;
}

header{
    background-color: #ffd260;
    color: #000000;
    margin: 0;
    text-align: center;
    height: 150px;
    padding-top: 20px;
    font-family: Arial; 
}

section{
    min-height: 500px;
    font-family: Arial;
    padding: 50px;
}

footer{
    background-color: #ffd260;
    color: #000000;
    margin: 0;
    text-align: center;
    height: 50px;
    padding-top: 10px;
    font-family: Arial;
    height: auto;
    width: auto;
}

.dropdown_div{
    position: relative;
    display: inline-block;
    background-color: #ffff91;
    padding-right: auto;
    height: max-content;
    width: max-content;
}

.dropdown_button{
    background-color:#ffff91;
    color: #000000;
    border: none;
    font-size: 16px;
    cursor: pointer;
    height: 30px;
    transition: 1s;
    height: max-content;
    width: max-content;
}

.dropdown_content{
    position: absolute;
    background-color: #ffff91;
    box-shadow: 0px 6px 14px 0px rgba(0,0,0,0.3);
    display: none;
    height: max-content;
    width: max-content;
}

.dropdown_content a{
    font-family: Arial;
    color: #000000;
    padding: auto auto;
    text-decoration: none;
    display: block;
    transition: 1s;
    height: max-content;
    width: max-content;
}

.dropdown_content a:hover{
    background-color:#c9a12f;
    height: auto;
    width: auto;
}

.dropdown_div:hover .dropdown_content{
    display: block;
}

.dropdown_div:hover .dropdown_button{
    background-color: #c9a12f;
}

nav{
    background-color:#ffd260 ;
    width: auto;
    height: auto;
}
section{
    background-image:url(images/bread.jpg) ;
    height: auto;
    width: auto;
    mask-repeat: no-repeat;
}
.mybutton{
    background-color: #c9a12f;
    border: none;
    height: auto;
    width: auto;
    color:#000000;
    padding: auto auto;
    font-size: 16px;
    opacity: 0.5;
    animation-iteration-count: infinite;
}

.dropdown_button a{
    background-color: #c9a12f;
    transition: 1s;
    height: auto;
    width: auto;
}

.logo{
    width: 10rem;
    height: 10rem;
    position: absolute;
    left: 0%;
    top: 0%;
}